body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: normal;
    background-color: #F0F0F0;
    text-transform: uppercase;
}

.wrapper {
    max-width: 1200px;
    min-width: 768px;
    margin: auto;
    background-color: #FDFDFD;
    box-shadow: 0px 5px 5px 5px #E2E2E2;
    position: relative
}

h2 {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: normal;
}

h3 {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #000000
}

.clearfix:after {
    display: table;
    content: "";
    clear: both;
}

header {
    position: relative;
}

ul {
    margin: 0;
    padding: 0
}

nav li {
    float: left;
    width: 20%;
    list-style: none;
    text-align: center;
    padding: 18px 0;
}

nav li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    line-height: 26px;
}

nav li:nth-child(3) {
    margin-left: 20%;
}

.logo {
    width: 138px;
    height: 70px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 100
}

.intro {
    height: 512px;
    position: relative;
    width: 100%;
    background-image: url(../img/mountains.jpg);
    background-size: contain;
    background-size: 1200px 512px;
    background-repeat: no-repeat;
    position: relative;
}

.intro::after {
    content: "";
    position: absolute;
    width: 100%;
    min-width: 768px;
    height: 57px;
    background-image: url(../img/tooth.png);
    background-position: bottom;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    top: 100%;
    margin-top: -57px;
    z-index: 400;
}

nav li a:hover {
    color: #81B3D2;
}

nav li a:active {
    color: #B2B2B2;
}

.intro img {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.main-page-content .about-sedona {
    text-align: center;
    padding-top: 61px;
    font-size: 21px;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
}

.main-page-content .features-title {
    text-align: center;
    line-height: 26px;
}

.about-sedona-wrapper {
    height: 217px;
    margin-top: -20px;
    background-color: white;
}

.cause {
    font-size: 0px;
    height: 256px;
    background-color: #7FB1D0
}

.desription {
    display: inline-block;
    width: 33.333333%;
    min-height: 256px;
    vertical-align: top;
    font-size: 14px;
    text-align: center;
    background-color: #7FB1D0
}

.arround-picture {
    max-width: 302px;
    color: #ffffff;
    margin: auto
}

.arround-picture h3 {
    color: #ffffff;
    width: 155px;
    line-height: 21px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 53px;
}

.advantages {
    font-size: 0;
    height: 331px;
}

.advantages-item {
    display: inline-block;
    width: 33.333333%;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
    position: relative;
    margin-top: 164px;
}

.advantages-item:first-of-type::before {
    content: "";
    position: absolute;
    background-image: url(../img/house.png);
    width: 75px;
    height: 72px;
    bottom: 125px;
    right: 50%;
    margin-right: -37px;
}

.inner-wrapper {
    max-width: 285px;
    margin-left: auto;
    margin-right: auto;
}

.advantages-item:nth-of-type(2)::before {
    content: "";
    position: absolute;
    background-image: url(../img/hamburger.png);
    width: 74px;
    height: 70px;
    bottom: 125px;
    right: 50%;
    margin-right: -37px;
}

.advantages-item:last-of-type::before {
    content: "";
    position: absolute;
    background-image: url(../img/present.png);
    width: 64px;
    height: 76px;
    bottom: 125px;
    right: 50%;
    margin-right: -32px;
}

.advantages-item b {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 21px;
}

.img-wrapper {
    display: inline-block;
    width: 66.666666%;
    vertical-align: top;
}

.img-wrapper img {
    max-width: 100%;
    width: auto;
}

.№ {
    font-size: 14px;
    display: inline-block;
    width: 33.333333%;
    height: 256px;
    text-align: center;
    vertical-align: top;
    background-color: #ECECEC;
    margin-top: 0;
}

.inner-cause-wrapper {
    max-width: 265px;
    height: 142px;
    margin-left: auto;
    margin-right: auto;
}

.inner-cause-wrapper h3 {
    display: inline-block;
    vertical-align: top;
    line-height: 21px;
    margin-top: 50px;
    width: 145px;
}

.pre-form-message {
    width: 434px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}

.pre-form-message h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold
}

.pre-form-message p {
    text-align: center;
    width: 399px;
    line-height: 24px;
}

.form-title {
    text-align: center;
    width: 568px;
    height: 86px;
    margin-left: auto;
    margin-right: auto;
    background-color: #756256;
    margin-top: 50px;
}

.form-title h3 {
    color: white;
    padding-top: 30px;
    font-style: 21px;
}

footer {
    font-size: 0px;
    height: 120px;
}

[class^="footer-"] {
    display: inline-block;
    width: 33.3%;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    margin-top: 40px
}

.footer-hashtag {
    font-size: 21px;
    font-weight: bold
}

.footer-social .social-btn {
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    width: 46px;
    height: 48px;
    background-color: #81B3D2;
    position: relative;
    margin-left: 5px;
}

.footer-social .social-btn:hover {
    background-color: #669EC0;
}

.footer-social .social-btn:active {
    background-color: #5496BD;
}

.social-btn::before {
    content: "";
    position: absolute;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.social-btn:active::before {
    opacity: 0.3
}

.social-btn-tw::before {
    width: 17px;
    height: 15px;
    background-position: -250px -83px;
}

.social-btn-fb::before {
    width: 10px;
    height: 19px;
    background-position: -252px -54px;
}

.social-btn-yb::before {
    width: 20px;
    height: 16px;
    background-position: -5px -5px;
}

.footer-copyright p {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}

.footer-copyright a {
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
    position: relative;
    width: 115px;
    height: 40px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -4px -69px;
    transform: translate(-50%, -50%);
    top: 0%;
    left: 60px;
}

.footer-copyright a:hover {
    background-position: -160px -5px;
}

.footer-copyright a:active {
    background-position: -127px -54px;
}

form {
    width: 568px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 5px 5px #E2E2E2;
    background-color: #fff;
    position: relative;
    z-index: 2
    
}
iframe{
    width: 100%;
    min-width: 768px;
    max-width: 1200px;
    height: 474px;
    position: absolute;
    z-index: 1;
    top: 2214px;
    right: 0px;
}
form .form-row:first-of-type label {
    margin-top: 50px;
}

form label {
    width: 95px;
    float: left;
    margin-top: 61px;
    margin-left: 56px;
    font-weight: bold
}

form input {
    width: 346px;
    float: right;
    margin-top: 40px;
    height: 38px;
    margin-right: 60px;
    background-color: #F2F2F2;
    border: none
}

form input:hover {
    background-color: #EBEBEB;
}

form input:active {
    background-color: white;
}

form input:focus {
    background-color: white;
}

.form-col {
    width: 50%;
    float: left;
}

.form-col:first-child {
    width: 50%;
    float: left;
}

.number-child,
.number-parents {
    font-size: 0;
    width: 118px;
    float: right;
    margin-right: 60px
}

.number-parents {
    margin-right: 5px
}

.number-child input,
.number-parents input {
    width: 38px;
    height: 34px;
    display: inline-block;
    vertical-align: top;
    float: none;
    padding: 0;
    margin-right: 0;
}

.number-parents input,
.number-parents button {
    margin-left: -2px
}

.number-child button,
.number-parents button {
    border: none;
    width: 38px;
    height: 34px;
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
}

.form-col:last-child label {
    margin-left: 51px;
    width: 40px;
}

.form-col label {
    margin-top: 50px;
}

form [type="submit"] {
    width: 458px;
    height: 58px;
    background-color: #7FB1D0;
    color: white;
    font-size: 27px;
    display: inline-block;
    margin-bottom: 55px;
    margin-right: 55px;
    border: none
}

form [type="submit"]:hover {
    background-color: #669EC0;
}

form [type="submit"]:active {
    background-color: #5496BD;
    color: #7EB0CD
}
.main-form {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: 100%;
    height: 217px;
    background-image: url(../img/mountains-in-blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none
}

.main-form input[type="checkbox"] {
    display: none;
}

.main-form input[type="checkbox"] + label {
    display: block;
    margin: 10px 0;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    margin-left: 50px;
    padding-left: 45px;
}

.main-form input[type="checkbox"] + label:first-of-type {
    margin-top: 25px;
}

.main-form input[type="checkbox"] + label::before {
    content: "";
    display: block;
    width: 24px;
    height: 22px;
    background-image: url(../img/spritesheet.png);
    background-position: -287px -6px;
    position: absolute;
    top: 0;
    left: 0;
}

.main-form input[type="checkbox"]:checked + label::after {
    content: "";
    display: block;
    width: 24px;
    height: 22px;
    background-image: url(../img/spritesheet.png);
    background-position: -323px -7px;
    position: absolute;
    top: 0;
    left: 0;
}

.main-form input[type="checkbox"]:checked:disabled + label::after {
    opacity: 0.7
}

.main-form input[type="checkbox"]:checked:disabled + label::before {
    opacity: 0.7
}

legend {
    color: white;
    margin-left: 50px;
    margin-top: 32px;
    font-size: 21px;
    font-weight: bold
}

.inner-form {
    width: 200px;
}

.main-form label {
    float: left;
    width: 100px;
    margin: 0;
    padding: 0;
    clear: left;
    margin-top: -20px;
    transform: translateX(0px);
    color: white;
    font-weight: normal
}

.main-form fieldset {
    float: left;
    text-align:left;
    max-width: 25%;
    min-width: 25%;
    height: auto;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    border: none
}

.main-form fieldset:last-of-type {
    height: 50%;
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    text-align: center
}

.main-form fieldset:last-of-type legend {
    margin-left: auto;
    margin-right: auto;
}

.main-form input[type="range"] {
    display: inline-block;
    max-width: 247px;
    height: 2px;
    margin-top: 40px;   
    margin-right: auto;
    margin-left: auto;
}

.main-form button {
    width: 137px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 17px;
    font-family: "PT Sans" sans-serif
}

.sort h2 {
    margin-left: 72px;
    margin-top: 35px;
    font-weight: bold;
    float: left;
    clear: left
}

.main-form button:hover {
    background-color: #ffffff;
    color: black
}

.sort {
    border-bottom: 1px solid #E3E3E3;
    height: 100px
}

.sort li {
    list-style: none;
    float: left;
    height: 20px;
    margin-top: 40px;
    margin-left: 33px;
}

.sort li a {
    margin-top: 0px;
    float: left;
    clear: left;
    text-decoration: none;
    font-size: 12px;
    color: #cacaca;
    border-bottom: 1px dotted #81B3D2
}

.sort li a:hover {
    color: #81B3D2;
}

.sort li a:active {
    color: black;
    border: none
}

.sort li:first-child a {
    margin-left: 40px;
}

.sort span {
    margin-left: 49px;
    float: left;
    margin-top: 40px;
    font-size: 12px;
}

.results-item {
    padding-left: 72px;
    border-bottom: 1px solid #E3E3E3;
    height: 120px;
}

.results-item .image {
    float: left;
    margin-top: 0px;
}

.results-item .raiting {
    float: right;
    background-color: #F0F0F0;
    padding: 5px 10px;
    margin-top: 60px;
}

.results-item .inf {
    margin: 0;
    padding: 0;
    margin-left: 160px;
    height: 100px;
    margin-top: 30px;
}

.inf a h2 {
    font-size: 21px;
    font-weight: bold;
    float: left;
    padding: 0;
    margin: 0;
    margin-top: -5px;
    padding: 0;
}

.inf h2:hover {
    color: #7FB1D0
}

.inf h2:active {
    color: #CACACA
}

.inf span {
    display: inline-block;
    margin-top: -68px
}

.inf span {
    float: left;
    clear: left
}

.inf span:last-of-type {
    margin-left: 100px
}

.inf a {
    float: left;
    padding: 0;
    margin: 0;
    margin-top: -34px;
    text-decoration: none;
    background-color: #7FB1D0;
    color: white;
    padding: 4px 15px;
    font-weight: bold
}

.inf a:first-of-type {
    padding: 0;
    color: black;
    background-color: white;
    margin: 0;
}

.inf a:last-of-type {
    margin-left: 100px;
    background-color: #756256;
    margin-left: 113px;
}

.inf a:last-of-type:hover {
    background-color: #604E43;
}

.inf a:last-of-type:active {
    background-color: #503E33;
    color: rgba(133, 120, 113, 0.7);
}

.inf a:nth-of-type(2):hover {
    background-color: #669EC0;
}

.inf a:nth-of-type(2):active {
    background-color: #5496BD;
    color: rgba(136, 182, 209, 0.7)
}