body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: normal;
    background-color: #F0F0F0;
    text-transform: uppercase;
}

.wrapper {
    max-width: 1200px;
    min-width: 768px;
    margin: auto;
    background-color: #FDFDFD;
    box-shadow: 0px 5px 5px 5px #E2E2E2;
}

h2 {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: normal;
}

h3 {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #000000
}

.clearfix:after {
    display: table;
    content: "";
    clear: both;
}

header {
    position: relative;
}

header ul {
    margin: 0;
    padding: 0;
    font-size: 0;
}

nav li {
    display: inline-block;
    width: 20%;
    list-style: none;
    padding: 14px 0 12px 0;
    box-sizing: border-box;
    vertical-align: top
}

nav li:nth-child(1),
nav li:nth-child(2) {
    padding-left: 6%;
    text-align: left;
}

nav li:nth-child(3),
nav li:nth-child(4) {
    padding-right: 6%;
    text-align: right;
}

nav li a {
    text-decoration: none;
    font: bold 14px "PT Sans", "Arial", sans-serif;
    color: black;
    font-weight: bold;
    line-height: 26px;
}

nav li:nth-child(3) {
    margin-left: 20%;
}

.logo {
    width: 138px;
    height: 70px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

.intro {
    height: 512px;
    position: relative;
    width: 100%;
    background-image: url(../img/mountains.jpg);
    background-size: 1200px;
    background-position: center -90px;
    background-repeat: no-repeat;
    position: relative;
}

.intro::after {
    content: "";
    position: absolute;
    width: 100%;
    min-width: 768px;
    height: 57px;
    background-color: aqua;
    background-image: url(../img/tooth.png);
    background-position: bottom;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    top: 100%;
    margin-top: -57px;
    z-index: 400;
}

nav li a:hover {
    color: #81B3D2;
}

nav li a:active {
    color: #B2B2B2;
}

.active {
    color: #766357;
}

.active:hover {
    color: #604e43;
}

.active:active {
    color: #766357;
}

.intro img {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 200;
    background-color: transparent;
}

.main-page-content .about-sedona {
    text-align: center;
    padding-top: 61px;
    font-size: 21px;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
}

.main-page-content .features-title {
    text-align: center;
    line-height: 26px;
}

.about-sedona-wrapper {
    height: 217px;
    margin-top: -30px;
    background-color: white;
}

.cause {
    font-size: 0px;
    height: 256px;
    background-color: #7FB1D0
}

.description {
    display: inline-block;
    width: 33.333333%;
    min-height: 256px;
    vertical-align: top;
    font-size: 14px;
    text-align: center;
    background-color: #7FB1D0
}

.arround-picture {
    max-width: 302px;
    color: #ffffff;
    margin: auto
}

.arround-picture h3 {
    color: #ffffff;
    width: 151px;
    line-height: 21px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 53px;
}

.advantages {
    font-size: 0;
    height: 331px;
}

.advantages-item {
    display: inline-block;
    width: 33.333333%;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
    position: relative;
    margin-top: 164px;
}

.advantages-item:first-of-type::before {
    content: "";
    position: absolute;
    background-image: url(../img/house.png);
    width: 75px;
    height: 72px;
    bottom: 125px;
    right: 50%;
    margin-right: -37px;
}

.inner-wrapper {
    max-width: 285px;
    margin-left: auto;
    margin-right: auto;
}

.advantages-item:nth-of-type(2)::before {
    content: "";
    position: absolute;
    background-image: url(../img/hamburger.png);
    width: 74px;
    height: 70px;
    bottom: 125px;
    right: 50%;
    margin-right: -37px;
}

.advantages-item:last-of-type::before {
    content: "";
    position: absolute;
    background-image: url(../img/present.png);
    width: 64px;
    height: 76px;
    bottom: 125px;
    right: 50%;
    margin-right: -32px;
}

.advantages-item b {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 21px;
}

.img-wrapper {
    display: inline-block;
    width: 66.666666%;
    vertical-align: top;
}

.img-wrapper img {
    max-width: 100%;
    width: auto;
    background-color: saddlebrown;
}

.number-item {
    font-size: 14px;
    display: inline-block;
    width: 33.333333%;
    height: 256px;
    text-align: center;
    vertical-align: top;
    background-color: #ECECEC;
    margin-top: 0;
}

.inner-cause-wrapper {
    max-width: 265px;
    height: 142px;
    margin-left: auto;
    margin-right: auto;
}

.inner-cause-wrapper h3 {
    display: inline-block;
    vertical-align: top;
    line-height: 21px;
    margin-top: 50px;
    width: 145px;
}

.pre-form-message {
    width: 434px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
}

.pre-form-message h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.pre-form-message p {
    text-align: center;
    width: 399px;
    line-height: 24px;
}

.form-title {
    text-align: center;
    width: 568px;
    height: 86px;
    margin-left: auto;
    margin-right: auto;
    background-color: #756256;
    margin-top: 50px;
    cursor: pointer
}

.form-title h3 {
    color: white;
    padding-top: 30px;
    font-style: 21px;
}

footer {
    font-size: 0px;
    height: 120px;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    margin-top: 80px;
}

[class^="footer-"] {
    display: inline-block;
    width: 33.3%;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px
}

.footer-hashtag {
    font-size: 21px;
    font-weight: bold
}

.footer-social .social-btn {
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    width: 46px;
    height: 48px;
    background-color: #81B3D2;
    position: relative;
    margin-left: 2px;
}

.footer-social .social-btn:hover {
    background-color: #669EC0;
}

.footer-social .social-btn:active {
    background-color: #5496BD;
}

.social-btn::before {
    content: "";
    position: absolute;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.social-btn:active::before {
    opacity: 0.3
}

.social-btn-tw::before {
    width: 17px;
    height: 15px;
    background-position: -245px -78px;
}

.social-btn-fb::before {
    width: 10px;
    height: 19px;
    background-position: -248px -49px;
}

.social-btn-yb::before {
    width: 20px;
    height: 16px;
    background-position: 0px 0px;
}

.footer-copyright p {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}

.footer-copyright a {
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
    position: relative;
    width: 115px;
    height: 40px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: 1px -64px;
    transform: translate(-50%, -50%);
    top: 0;
    left: 60px;
}

.footer-copyright a:hover {
    background-position: -155px 0px;
}

.footer-copyright a:active {
    background-position: -122px -49px;
}

.main-footer {
    margin-top: 0;
    background-color: transparent;
}

form {
    width: 568px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 40px -9px #000000;
    background-color: #fff;
    position: relative;
    z-index: 200
}

@keyframes animate-form {
    0% {
        transform: translateY(-2000px);
    }
    50% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

.form-index {
    z-index: 1000;
}

.animated-form {
    animation-name: animate-form;
    animation-duration: 1s;
    z-index: 100
}

@keyframes error-form {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.form-error {
    animation-name: error-form;
    animation-duration: 1S
}

.for-map {
    position: relative
}

iframe {
    width: 100%;
    background-image: url(../img/map.jpg);
    min-width: 768px;
    max-width: 1200px;
    height: 582px;
    position: absolute;
    z-index: 1;
    top: -387px;
    right: 0px;
}

form .form-row:first-of-type label {
    margin-top: 50px;
}

form .form-row:first-of-type input,
form .form-row:nth-of-type(2) input {
    position: relative;
}

.form-row:first-of-type .calendar,
.form-row:nth-of-type(2) .calendar {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 21px;
    height: 22px;
    background-image: url(../img/spritesheet.png);
    background-position: -30px -1px;
    left: 480px;
    top: 50px;
    cursor: pointer;
    z-index: 2
}

.form-row:nth-of-type(2) .calendar {
    top: 130px;
}

.form-row:nth-of-type(2) .calendar:hover {
    background-position: -125px -1px;
}

.form-row:nth-of-type(1) .calendar:hover {
    background-position: -125px -1px;
}

.form-row:nth-of-type(1) .calendar:active {
    background-position: -43px -33px;
}

.form-row:nth-of-type(2) .calendar:active {
    background-position: -43px -33px;
}

form label {
    width: 95px;
    float: left;
    margin-top: 61px;
    margin-left: 56px;
    font-weight: bold;
    cursor: pointer;
}

form input {
    width: 336px;
    float: right;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 40px;
    padding-left: 10px;
    height: 38px;
    margin-right: 60px;
    background-color: #F2F2F2;
    border: none;
    outline: none;
    cursor: pointer
}

button {
    outline: none;
    background-color: #F0F0F0;
    cursor: pointer
}

input::-webkit-input-placeholder {
    color: black;
    font-family: "PT Sans", arial, sans-serif
}

input::-moz-placeholder {
    color: black;
    font-family: "PT Sans", arial, sans-serif
}

form input:hover {
    background-color: #EBEBEB;
}

form input:active {
    background-color: white;
}

form input:focus {
    background-color: white;
}

.form-col {
    width: 50%;
    float: left;
}

.form-col:first-child {
    width: 50%;
    float: left;
}

.number-child,
.number-parents {
    font-size: 0px;
    width: 120px;
    float: right;
    margin-right: 55px
}

.number-parents {
    margin-right: 0px
}

.number-child input,
.number-parents input {
    width: 38px;
    height: 34px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    float: none;
    padding: 0;
    margin-right: 0;
}

.number-parents input,
.number-parents button {
    margin-left: -2px
}

.number-child button,
.number-parents button {
    border: none;
    width: 38px;
    height: 34px;
    font-size: 14px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
    font-size: 0px;
}

.number-child button:first-of-type::before,
.number-parents button:first-of-type::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    background-image: url(../img/spritesheet.png);
    background-position: -64px 5px;
    left: 15px;
    top: 11px;
}

.number-child button:nth-of-type(2)::before,
.number-parents button:nth-of-type(2)::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    background-image: url(../img/spritesheet.png);
    background-position: -83px 0px;
    left: 14px;
    top: 12px;
}

.number-child button:nth-of-type(2):hover::before,
.number-parents button:nth-of-type(2):hover::before {
    background-position: -104px 0px;
}

.number-child button:first-of-type:hover::before,
.number-parents button:first-of-type:hover::before {
    background-position: -3px -27px;
}

.number-child button:nth-of-type(2):active::before,
.number-parents button:nth-of-type(2):active::before {
    background-position: -22px -32px;
}

.form-col:last-child label {
    margin-left: 51px;
    width: 40px;
}

.number-child button:first-of-type:active::before,
.number-parents button:first-of-type:active::before {
    background-position: -77px -27px;
}

.form-col label {
    margin-top: 50px;
}

form [type="submit"] {
    width: 458px;
    height: 58px;
    background-color: #7FB1D0;
    color: white;
    font-size: 21px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 55px;
    margin-right: 55px;
    border: none
}

form [type="submit"]:hover {
    background-color: #669EC0;
}

form [type="submit"]:active {
    background-color: #5496BD;
    color: #7EB0CD
}

.main-form {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: 100%;
    height: 217px;
    background-image: url(../img/mountains-in-blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none
}

.main-form input[type="checkbox"] {
    display: none;
}

.main-form label {
    width: auto;
    float: none;
}

.main-form input {
    padding: 0;
    margin: 0;
    float: none;
}

.main-form input[type="checkbox"] + label {
    display: block;
    float: none;
    line-height: 20px;
    position: relative;
    width: auto;
    margin: 0;
    margin-top: 26px;
    cursor: pointer;
    padding-left: 40px;
}

.main-form input[type="checkbox"] + label:first-of-type {
    margin-top: 0px;
}

.main-form input[type="checkbox"] + label::before {
    content: "";
    display: block;
    width: 24px;
    height: 22px;
    background-image: url(../img/spritesheet.png);
    background-position: -282px -2px;
    position: absolute;
    top: 0;
    left: 0;
}

.main-form input[type="checkbox"]:checked + label::after {
    content: "";
    display: block;
    width: 24px;
    height: 22px;
    background-image: url(../img/spritesheet.png);
    background-position: -318px -3px;
    position: absolute;
    top: 0;
    left: 0;
}

.main-form input[type="checkbox"]:checked:disabled + label::after {
    opacity: 0.7
}

.main-form input[type="checkbox"]:checked:disabled + label::before {
    opacity: 0.7
}

legend {
    color: white;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold
}

.filter-range p {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-left: 0px;
    text-align: left;
    margin-top: 0;
}

.main-form label {
    float: none;
    margin: 0px 0px;
    padding: 0;
    color: white;
    font-weight: normal;
}

.main-form fieldset {
    float: left;
    padding: 27px 0 30px 6%;
    margin-top: 25px;
    border: none;
}

.main-form fieldset:last-of-type {
    float: right;
    height: 170px;
    width: 30%;
    min-width: 225px;
    max-width: 320px;
    text-align: center;
    margin-right: 0%;
    margin-top: 0;
    padding-right: 6%;
}

.main-form fieldset:nth-of-type(2) {
    margin-left: 3.5%;
}

.main-form fieldset:last-of-type input {
    width: 50%;
    margin: 0;
    margin-top: -1px;
    height: 38px;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    float: none;
}

.price-controls {
    height: 38px;
    position: relative;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    width: 100%;
    margin-top: 10px;
    font-size: 0px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    line-height: 38px;
    margin-top: 0px;
    float: none;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 40%;
    padding-left: 10%;
}

.price-controls .min-price {
    width: 37%;
    padding-left: 13%;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.main-form button {
    width: 137px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 14px;
    font-family: "PT Sans" sans-serif;
    text-transform: uppercase;
}

.sort h2 {
    margin-top: 18px;
    font-size: 21px;
    font-weight: bold;
    float: left;
    clear: left
}

.main-form button:hover {
    background-color: #ffffff;
    color: black
}

.sort {
    border-bottom: 1px solid #E3E3E3;
    height: 67px;
    padding-left: 6%
}

.sort li {
    list-style: none;
    float: left;
    padding: 0;
    height: 17px;
    margin-top: 20px;
    margin-left: 33px;
}

.sort li:first-child a {
    border: none;
    color: #7FB1D0;
}

.sort li a {
    padding: 0;
    margin-top: 0px;
    float: left;
    clear: left;
    line-height: 21px;
    text-decoration: none;
    font-size: 12px;
    color: #cacaca;
    border-bottom: 1px dotted #81B3D2;
    height: 18px;
}

.arrows {
    width: 30px;
    position: relative;
    margin: 0;
    height: 10px;
    float: right;
    margin-right: 73px;
    margin-top: -50px;
    background-color: transparent;
}

.arrows span {
    cursor: pointer;
    position: absolute;
    top: -22px;
    left: -50px;
    width: 11px;
    height: 10px;
    background-image: url(../img/spritesheet.png);
    background-position: -369px -1px
}

.arrows span:hover {
    background-position: -353px -1px
}

.arrows span:last-of-type:hover {
    background-position: -353px -1px
}

.arrows span:active {
    background-position: -385px -1px
}

.arrows span:last-of-type {
    left: -30px;
    transform: rotate(180deg);
    background-position: -385px -1px
}

.arrows span:last-of-type:active {
    background-position: -385px -1px
}

.sort li a:hover {
    color: #81B3D2;
}

.sort li a:active {
    color: black;
    border: none
}

.sort li:first-child a {
    margin-left: 0px;
}

.sort span {
    margin-left: 49px;
    float: left;
    margin-top: 22px;
    font-size: 12px;
    line-height: 21px;
}

.results-item {
    padding-left: 6%;
    border-bottom: 1px solid #E3E3E3;
    height: 118px;
}

.results-item .image {
    float: left;
    margin-top: 0px;
    height: 90px;
    background-color: #74243D;
}
.results-item:nth-of-type(2) .image{
    background-color: #96878A;
}
.results-item:last-of-type(2) .image{
    background-color: #35432A;
}
.results-item .raiting {
    float: right;
    background-color: #F0F0F0;
    position: relative;
    padding: 5px 10px;
    margin-top: 58px;
    margin-right: 73px;
}

.stars {
    float: right;
    width: 90px;
    height: 17px;
    margin-right: -102px;
    background-image: url(../img/spritesheet.png);
    background-position: -280px -35px;
    background-color: transparent;
}

.results-item:nth-child(2) .stars {
    background-position: -233px -35px;
}

.results-item:nth-child(3) .stars {
    background-position: -256px -35px;
}

.results-item .inf {
    margin: 0;
    padding: 0;
    margin-left: 166px;
    height: 100px;
    margin-top: 35px;
}

.inf a h2 {
    font-size: 21px;
    font-weight: bold;
    float: left;
    padding: 0;
    margin: 0;
    margin-top: -5px;
    padding: 0;
}

.inf h2:hover {
    color: #7FB1D0
}

.inf h2:active {
    color: #CACACA
}

.inf span {
    display: inline-block;
    vertical-align: top;
    margin-top: -68px
}

.inf span {
    float: left;
    clear: left
}

.inf span:last-of-type {
    margin-left: 100px
}

.inf a {
    float: left;
    padding: 0;
    margin: 0;
    margin-top: -34px;
    text-decoration: none;
    background-color: #7FB1D0;
    color: white;
    padding: 4px 15px;
    font-weight: bold
}

.inf a:first-of-type {
    padding: 0;
    color: black;
    background-color: white;
    margin: 0;
}

.inf a:last-of-type {
    margin-left: 100px;
    background-color: #756256;
    margin-left: 113px;
}

.inf a:last-of-type:hover {
    background-color: #604E43;
}

.inf a:last-of-type:active {
    background-color: #503E33;
    color: rgba(133, 120, 113, 0.7);
}

.inf a:nth-of-type(2):hover {
    background-color: #669EC0;
}

.inf a:nth-of-type(2):active {
    background-color: #5496BD;
    color: rgba(136, 182, 209, 0.7)
}