/* font-family: "PTSansRegular"; */

@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "PTSansItalic"; */

@font-face {
    font-family: "PTSansItalic";
    src: url("../fonts/PTSansItalic/PTSansItalic.eot");
    src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"), url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "PTSansBold"; */

@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "PTSansRegular";
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: normal;
    background-color: #F0F0F0;
}

.wrapper {
    max-width: 1200px;
    min-width: 768px;
    margin: auto;
    background-color:#FDFDFD 
}

h2 {
    font-family: "PTSansBold";
    font-size: 30px;
    line-height: 24px;
    font-weight: normal;
}

h3 {
    font-family: "PTSansBold";
    font-size: 24px;
    color: #000000
}

.clearfix:after {
    display: table;
    content: "";
    clear: both;
}

ul {
    margin: 0;
    padding: 0
}

nav li {
    float: left;
    width: 20%;
    list-style: none;
    text-align: center;
    padding-top: 25px;
}

nav li a {
    text-decoration: none;
}

nav li:nth-child(3) {
    margin-left: 20%;
}

.logo {
    width: 138px;
    height: 70px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto
}

.intro {
    height: 512px;
    width: 100%;
    background: url(../img/mountains.jpg);
    background-size: contain;
    background-size: 1200px 512px;
    background-repeat: no-repeat
}

.intro img {
    position: absolute;
    top: 132px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.about-sedona{
    width: 440px;
    margin-left: auto;
    margin-right: auto
}
.main-page-content .about-sedona {
    text-align: center;
    margin-top: 2%;
}

.main-page-content .features-title {
    margin-top: 1.4%;
    text-align: center;
}

.cause {
    font-size: 0px;
    height: 256px;
}

.desription {
    display: inline-block;
    width: 33.333333%;
    min-height: 256px;
    vertical-align: top;
    font-size: 14px;
    text-align: center;
    background-color: #7FB1D0
}

.advantages {
    font-size: 0;
}

.advantages-item {
    display: inline-block;
    width: 33.333333%;
    font-size: 14px;
    text-align: center;
    vertical-align: top
}

.img-wrapper {
    display: inline-block;
    width: 66.666666%;
    vertical-align: top;
}

.№ {
    font-size: 14px;
    display: inline-block;
    width: 33.333333%;
    height: 256px;
    text-align: center;
    vertical-align: top;
    background-color: #ECECEC
}

.pre-form-message {
    text-align: center
}

.form-title {
    text-align: center
}

footer {
    font-size: 0px
}

[class^="footer-"] {
    display: inline-block;
    width: 33.3%;
    font-size: 14px;
    text-align: center;
    vertical-align: middle
}

.footer-copyright p {
    display: inline-block
}

form {
    display: inline-block;
    width: 568px;
    margin-left: 27.8%;
}
label{
    padding-left: 56px;   
}
input{
   margin-top:29px;
}
input[type="submit"]{
    width: 458px;
    margin-left: 56px;
}
form fieldset {
    display: inline-block;
    width: 30%
}

form fieldset:last-of-type {
    vertical-align: top
}

.sort {}

.sort h2 {
    display: inline-block;
    margin-left: 72px;
}

.sort li {
    list-style: none;
    display: inline-block;
}

.sort li a {
    margin-left: 33px;
}

.sort li a:first-child {
    margin-left: 40px;
}

.sort span {
    margin-left: 49px;
}

.sort ul {
    display: inline-block;
}
.results-item{
padding: 30px 72px
}
.results-item h2{
    display: inline-block;
    vertical-align:top
}